.about-container {
    width: 100vw;
    
    .about-content-container {
        display: flex;
        justify-content: space-around;
        padding: 2% 5%;

        .invoice-image-container {
            display: flex;
            flex: 0.5 1;
            justify-content: center;
            align-items: center;
            max-width: 40vw;
        
            img {
                max-height: auto;
                max-width: 70%;
            }
        }

        .about-info-container {
            flex: 0.5 1;

            .about-info-title {
                font-size: x-large;
                padding: 5%;
                font-weight: 600;
                width: 20vw;
            }


            .about-info-list {
                display: flex;
                flex-direction: column;
                flex: 1 0 50%;

                ul {
                    list-style-position: inside;
                }
            }

            .about-info-list-item span{
                font-size: 0.9em;
                font-weight: 600;
                width: 122vh;
            }
        }
    }
    .about-footer-container {
        
    }

    .list-icon {
        width: 12%;
    }
}